body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 10px;
    margin: 0;
}

header {

    width: 100vw;
    display:flex;
    align-items:center;
    justify-items: center;
             
}

.hero-image {
    background-image: url('https://miro.medium.com/max/2400/1*TDplo6knoXopzabAFpqEfw.jpeg');
    background-size: cover;
    height: 60vh;
    width: auto;
    opacity:.90;
   
}

.hero-text {
    display: flex;
    align-content: column;
    color: rgb(217, 255, 0);
    justify-content: center;
    font-size: 6vh;

}

p{
    font-size: 2vh;
    color: darkgoldenrod;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

h3 {
    font-size: 2vh;
}

.overview {
    display:flex;
    justify-items: center;
    flex-direction: row;
    
    
}

.ovText {
    font-size: 1.50vh;   
}
    
.sec2 {
    display: flex;
    width: 100vw;
    align-content: center;
    flex-direction: row;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(121,9,108,0.4920343137254902) 67%); 
}

.sec2A {
    display: flex;
    flex-direction: column;
}

.sec2b {
    border: 1 vh;
    display: flex;
    flex-direction: column;
}
.smallSecA {
    height: 20vh;
    font-size: 1vh;
    
   
}

.phase1 {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 60vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(57,9,121,0.4920343137254902) 67%);
    font-size: 2vh;  
}

.phase2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(121,9,31,0.4920343137254902) 67%);
    font-size:2vh;
}

.ph1IMG {
    width: 30vh;
    height: 20vh;


}

.textblock {
    width: 50vw;
}