html{
  height: 800px;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 64%, rgba(252,176,69,1) 100%);
  background-size: cover;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.outer {
  border-radius: 35px;
  opacity: 0.8;
}

.inner {
  display: relative;
  background: #383737;
  border-radius: 30px;
  opacity: 1;
  backdrop-filter: blur(1em);
}

a {
  color: #000;
}

/* header */

.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  z-index: 3;
  background-color: #383737;
  padding-bottom: -10px;
  color: white;
}

h1{
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  color: white;
}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #383737;
  
  font-size: 20px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #383737;
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #383737;
  transform: scale(1.05);
}

.header .logo {
  display: block;
  float: left;
  font-size: 30px;
  padding: 15px 15px;
  text-decoration: none;
  position: absolute;
}

.logo {
  color: #FFF;
  font-size: 15px;
  display: flex;
  align-self: center;
  width: 80vw;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 35px 30px 10px 10px;
  position: relative;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.header .menu-icon .navicon {
  background: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFF;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*home boxes*/
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box{
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
}

.box img {
  width:50vw;
  height: 20vh
}

.box:nth-child(2n-1){
  flex-direction: row-reverse;
}

.box p {
  padding: 5%;
  font-size: 3vw;
  color: white;
}

.maincontainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 80vw;
  padding: 0 0 0 0 ;
}

/* 48em = 768px */

@media only screen and (min-width: 48em) {

  body{
    display: flex;
    align-items: center;
    min-height: 400px;
  }

  .header * {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    align-self: flex-start;
    justify-self: flex-start;
    width: 50vw;
  }

  .header li {
    float: right;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    transition: all .2s ease-in-out;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  a.header .ul {
    font-size: 25px;
    position: relative;
  }

  .header .menu {
    clear: left;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    display: flex;
    justify-content: center;
    font-size: 50px;
    width: auto;
    height: 60%;
    margin-left: 1%;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
    margin-bottom: 20vh;
  }

  

  h1{
    font-size: 5em;
    margin-top: 17vh;
  }

  .maincontainer{
    height: 80vh;
    width: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 10% 5%;
    padding: 10%;
  }

  .box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 70vh;
    margin-left: 5%
  }

  .box p {
    font-size: 2vh
  }
  footer {
    height: 5%;
  }
}


header:not(.header) {
  background: blue;
}

footer {
  align-items: center;
  justify-content: space-around;
  display: flex;
  height: 10%;
  width: 80vw;
  background: #262626;
  opacity: 0.9;
  margin-top:15%;
  margin-bottom: -35px;
  color: white;
  padding: 10% 15%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

form input {
  border-radius: 15px;
  border: none;
  padding: 10px;
}

.highlight {
  animation: unhighlight 1s;
}

.highlight:hover {
  animation: highlight 1s forwards;
}

@keyframes highlight {
  from {
    background-color: rgba(240, 32, 105, 0);
  }
  to {
    background-color: rgba(240, 32, 105, 0.645);
  }
}

@keyframes unhighlight {
  from {
    background-color: rgba(240, 32, 105, 0.645);
  }
  to {
    background-color: rgba(240, 32, 105, 0);
  }
}

.middle {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.middle:after {
  content: '';
  position: absolute;
  width: 95%;
  transform: scaleX(0);
  height: 3px;
  bottom: 12px;
  left: 4px;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.middle:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.focus {
  transition: all .3s ease-in-out;
}

.focus:hover {
  transform: scale(1.05);
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
  width: 110vw;
  background-color: red;
  margin: -100px -150px;
  animation: load-fade 4s ease-in-out forwards;
}

.load img{
  width: 10vw;
  height: 30vh;
  position: relative;
  animation: take-off 1.4s ease-in-out infinite;
}

ul {
  list-style: none;
}

@keyframes take-off {
  0% {
    transform: rotate(0deg);
    opacity: 1.0;
    bottom: 0px;
  }
  20%{
    transform: rotate(370deg);
  }
  40% {
    transform: rotate(360deg);
  }
  60% {
    transform: scaleY(0.7);
    bottom: 0px;
    opacity: 1;
  }
  70%{
    transform: scaleY(1.1);
    opacity: 0.6;
  }
  90%{
    opacity: 0.2;
  }
  100%{
    bottom: 150px;
    opacity: 0;  
  }
}

@keyframes load-fade {
  0% {
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  90%{
    opacity: 0.9;
    z-index: 8;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}